#contatos {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(138, 50, 72, 0.5)), url('https://www.melhoresdestinos.com.br/wp-content/uploads/2022/10/canela-o-que-fazer65.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 5.0;
}

h1 {
    color: rgb(255, 255, 255);
}

a {
    width: 100px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 30px;
    cursor: context-menu;
}


button {
    border-radius: 20px;
    background-color: rgb(38, 51, 107);
    border: none;
}

button img {
    width: 100px;
}


@media screen and (min-height: 488px), (min-width: 488px) {
   
    
    #contatos {
        height: 900px;
    }
    
}