@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=IBM+Plex+Sans&family=Roboto:wght@100;400&display=swap');

.fundo {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(138, 50, 72, 0.5)), url('https://images.squarespace-cdn.com/content/v1/52c0b141e4b0b87925bacd01/1655145280486-0HT6XP9CZZUL7S8Z4E4F/EDU_6890.jpg?format=1500w');
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 5.0;
}

.fundo h1 {
    color: rgb(218, 230, 55);
}

.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 70%;
    gap: 10%;
}

#texto {
    text-align: justify;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    width: 40%;
}

#foto {
    width: 300px;
    height: 320px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 10px 5px 5px rgb(191, 33, 253);
}


@media screen and (max-width: 630px)  {
    
    .fundo {
        height: 800px;
    }
    .apresentacao {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        flex-direction: column-reverse;
        
    }

    #texto {
        width: 350px;
    }
}

