.products {
    background-color: #ffff;
    
}

.products h1 {
    color: black;
}


#lista {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;   
    text-align: center;
}

#lista li {
    width: 25%;
    box-sizing: border-box;
    padding: 0 19px;
    margin-bottom: 30px;
    justify-content: center;   
    
}

#lista img {
    width: 65%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 844px) {
    #lista img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 590px) {
    
    
    #lista img {
        width: 350px;
        height: 100%;
       
    }

    #lista {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }


}

